* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    background-color: #1e1e1e;
}
/* ::-webkit-scrollbar-thumb{
    background-color: #888;
} */

::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}

.active {
  color: #f35626; /* or any other color/style you want for the active link */
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
}

.gradient-text {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight:  bolder;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

  